.footer {
  background-color: black;
  color: white;
}

.footer-line {
  height: 4px;
  background: rgb(0, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(9, 9, 121, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1rem 3rem 2rem;
  justify-content: space-between;
}

.footer-item {
  min-width: 200px;
}

.footer-title-underline {
  position: relative;
}

.footer-underline {
  position: absolute;
  height: 4px;
  width: 4rem;
  border-radius: 1rem;
  top: 2rem;
  background: rgba(0, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(102, 102, 250, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

.footer-brand {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
  align-items: center;
}

.footer-brand img {
  width: 36px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
}

a {
  display: flex;
  gap: 10px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-social {
  display: flex;
  gap: 1rem;
}

.footer-bottom {
  font-size: 0.8125rem;
  text-align: center;
  background-color: black;
}

.footer-bottom p {
  padding-bottom: 15px;
  margin-bottom: 0;
}

.footer-bottom img {
  display: inline;
  width: 0.8125rem;
  transform: translateY(2px);
}

@media (max-width: 825px) {
  .footer-content {
    flex-direction: column;
  }
}
